
<br><br>
<h2 class="center">These Cakes Aren't Crusty</h2>
<br><br><br>

    

    

<section class="container row">
    
  <div class="col s4 pull-s1">
    <img class="materialboxed" width="300" src="/images/blackforestcake.jpg">
            <br>
      <h6 class="center">Black Forest Cake</h6>
            <p class="center">Whole: $65</p>
            <p class="center">Slice: $8.50</p>
  </div>
    
  <div class="col s4">
    <img class="materialboxed" width="300" src="/images/redvelvetcake.jpg">
       <br>
      <h6 class="center">Red Velvet Cake</h6>
            <p class="center">Whole: $75</p>
            <p class="center">Slice: $9.50</p>
  </div>
    
  <div class="col s4 push-s1">
    <img class="materialboxed" width="300" src="/images/chococake.jpg">
      <br>
      <h6 class="center">Dad's Chocolate Cake</h6>
            <p class="center">Whole: $35</p>
            <p class="center">Slice: $5.50</p>
  </div>
</section>

<br><br><br>
<section class="container row">

      <div class="col s4 pull-s1">
    <img class="materialboxed" width="300" src="/images/strawberrycake.jpg">
          <br>
      <h6 class="center">Strawberry Cake</h6>
            <p class="center">Whole: $45</p>
            <p class="center">Slice: $7.50</p>
      </div>
      <div class="col s4">
    <img class="materialboxed" width="300" src="/images/plaincheesecake.jpg">
          <br>
      <h6 class="center">Cheesecake</h6>
            <p class="center">Whole: $35</p>
            <p class="center">Slice: $4.50</p>
      </div>
      <div class="col s4 push-s1">
    <img class="materialboxed" width="300" src="/images/treslechesberries.jpg">
          <br>
      <h6 class="center">Tres Leches Cake</h6>
            <p class="center">Whole: $45</p>
            <p class="center">Slice: $5.50</p>
      </div>


</section>