<br><br><br>
<div class="container">
Got violently ill after eating here? Really loved our delicious treats and service? Having a bad day and need to curse out Ronnie? Having a great day and need to compliment him? Contact us here and we'll send you a menu of our delicious food along with a coupon!
    
<br><br>

    <p>Enter your email to receive our newsletter!</p>

    <form action="/form" method="POST">
    <input type="email" name="email" placeholder="Enter your email" required>
<textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea>
    <input type="submit" value="Send">
    </form>
    
</div>