
<br><br>
<h2 class="center">Crazy Good Cookies</h2>
<br><br><br>

    

<section class="container row">
    
  <div class="col s4 pull-s1">
    <img class="materialboxed" width="300" src="/images/chocochip.jpg">
          <br>
      <h6 class="center">Chocolate Chip Cookies</h6>
            <p class="center">12 cookies: $24</p>
  </div>
    
  <div class="col s4">
    <img class="materialboxed" width="300" src="/images/dblchocchip.jpg">
            <br>
      <h6 class="center">Double Chocolate Chip Cookies</h6>
            <p class="center">12 cookies: $24</p>
  </div>
    
  <div class="col s4 push-s1">
    <img class="materialboxed" width="300" src="/images/redvelvcookie.jpg">
            <br>
      <h6 class="center">Red Velvet Cookies</h6>
            <p class="center">12 cookies: $32</p>
  </div>
</section>

<br><br><br>

<section class="container row">

      <div class="col s4 pull-s1">
    <img class="materialboxed" width="300" src="/images/sugarcookie.jpeg">
                <br>
      <h6 class="center">Sugar Cookies</h6>
            <p class="center">12 cookies: $24</p>
      </div>
      <div class="col s4">
    <img class="materialboxed" width="300" src="/images/oatmealraisin.jpg">
                <br>
      <h6 class="center">Oatmeal Raisin Cookies</h6>
            <p class="center">12 cookies: $24</p>
      </div>
      <div class="col s4 push-s1">
    <img class="materialboxed" width="300" src="/images/chocopb.jpg">
                <br>
      <h6 class="center">Peanut Butter Chocolate Cookies</h6>
            <p class="center">12 cookies: $24</p>
      </div>


</section>
          