<section id="index" class="center">
<p>A historic flagship bakery located in the heart of New York City</p>
<p>Come and try our tasty treats!</p>
    <p>999 169th Street, New York City, New York</p>

    <br>
    
<h3>Ronnie Welcomes You!</h3>
<br><br>
<section class="container row">
<figure class="col s1 push-s2">
    <img class="materialboxed" src="/images/aaron.jpg" style="height:450px;width:245px">
    
</figure>

<figure class="col s1 push-s5">
    <img class="materialboxed" src="/images/bakeryshot.jpg" style="height:450px;width:245px">
</figure>
</section>
    <h5>A man and his true love</h5>

<br><br><br>
<h3>Loved by everyone</h3>
<br> 

<figure>
    <img class="shadow" src="/images/seinfeld.jpeg" style="height:371px;width:522px">
    <figcaption>Seinfeld, 1994</figcaption>
</figure>
<br>
<figure>
    <img class="shadow" src="/images/obama.jpeg" style="height:371px;width:522px">
    <figcaption>Obama, 2008</figcaption>
</figure>

        <br><br>
<h3>Come visit today!</h3>    
</section>

