<!DOCTYPE html>
<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">


          <link rel="stylesheet" href="css/main.css">


      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        
      <header class="font">
    
          
<div class="container center">
<img style="width:200px;height:200px" src="/images/cupcakelogo.png">
    <h5>Ronnie's Sweet Spot</h5>
            <h6>Est. 1908</h6>
           <p>999 169th Street, New York City, New York</p>

              </div>

      
      </header>
      <br>
  <nav>
    <div class="nav-wrapper blue darken-2">
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="/">About</a></li>
        <li><a href="/cookies">Cookies</a></li>
        <li><a href="/cakes">Cakes</a></li>
          <li><a href="/muffins">Muffins</a></li>
                    <li><a href="/contact">Contact Us</a></li>

      </ul>
    </div>
  </nav>
        <br>
        
    <%= yield %>
        <br><br><br>
      <footer>
          
    <em>Call Us! 516-734-1461</em>
          <em>Copyright: Ronnie Digital Productions</em>
          <em>2018</em>
              
    </footer>

      <script type="text/javascript" src="js/materialize.js"></script>
              <script type="text/javascript" src="js/main.js"></script>

    </body>
</html>
        