
<br><br>
<h2 class="center">The Must-Have Muffins</h2>
<br><br><br>

    

<section class="container row">
    
  <div class="col s4 pull-s1">
    <img class="materialboxed" width="300" src="/images/bananamuffin.jpeg">
      <br>
      <h6 class="center">Banana Muffin</h6>
            <p class="center">$1.50</p>
                  <p class="center">Dozen: $13</p>


  </div>
    
  <div class="col s4">
    <img class="materialboxed" width="300" src="/images/corndogmuffin.jpg">
          <br>
      <h6 class="center">Corndog Muffin</h6>
            <p class="center">$3.50</p>
                  <p class="center">Dozen: $23</p>

  </div>
    
  <div class="col s4 push-s1">
    <img class="materialboxed" width="300" src="/images/dblchocomuffin.jpg">
      <br>
      <h6 class="center">Double Chocolate Chip Muffin</h6>
            <p class="center">$1.50</p>
                  <p class="center">Dozen: $13</p>
  </div>
</section>

<br><br><br>

<section class="container row">

      <div class="col s4 pull-s1">
    <img class="materialboxed" width="300" src="/images/zucchinibreadbranmuffins.jpg">
          <br>
      <h6 class="center">Zucchini Bread Bran Muffins</h6>
            <p class="center">$1.50</p>
                  <p class="center">Dozen: $13</p>
      </div>
      <div class="col s4">
    <img class="materialboxed" width="300" src="/images/chocochipmuffin.jpg">
               <br>
      <h6 class="center">Chocolate Chip Muffins</h6>
            <p class="center">$1.50</p>
                  <p class="center">Dozen: $13</p>
      </div>
      <div class="col s4 push-s1">
    <img class="materialboxed" width="300" src="/images/applecoffeecakemuff.jpg">
               <br>
      <h6 class="center">Apple Coffee Cake Muffins</h6>
            <p class="center">$1.50</p>
                  <p class="center">Dozen: $13</p>
          
      </div>


</section>
          